
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HD.Site.Models
@model ChangePasswordViewModel

@section JsFooter{
    <script>
        $('#BtnChangePass').on('click', function () {
            var newPass = $('#TxtNewPass').val();
            var confirmPass = $('#TxtConfirmPass').val();
            if (newPass === confirmPass) {
                $('#frmChangPass').submit();
            } else {
                toastr.warning("Xác nhận lại mật khẩu chưa đúng.");
            }
        });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Thay đổi mật khẩu</h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <form method="post" action="/User/ChangPassword" id="frmChangPass" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Mật khẩu cũ(<span style="color:red;">*</span>)
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="password" placeholder="Mật khẩu cũ của bạn" min="6" class="form-control" name="OlderPassword" value="@Model.OlderPassword" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Mật khẩu mới(<span style="color:red;">*</span>)
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="password" id="TxtNewPass" placeholder="Mật khẩu mới gồm ít nhất 6 kí tự, gồm 1 kí tự in hoa và 1 kí tự in thường" min="6" max="50" class="form-control" value="@Model.NewPassword" name="NewPassword" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Nhập lại mật khẩu mới(<span style="color:red;">*</span>)
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="password" id="TxtConfirmPass" placeholder="Mật khẩu mới gồm ít nhất 6 kí tự, gồm 1 kí tự in hoa và 1 kí tự in thường" min="6" max="50" class="form-control" value="@Model.ConfirmPassword" name="ConfirmPassword" required>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button id="BtnChangePass" type="button" class="btn btn-sm btn-success pull-right"><i class="fa fa-fw fa-save"></i> Lưu</button>
            </div>
            <!-- /.box-footer-->
        </form>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
